[ ca ]
default_ca	= CA_default
[ CA_default ]
default_md	= sha256
[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical,CA:true
[ req ]
distinguished_name	= req_distinguished_name
prompt                 = no
[ req_distinguished_name ]
C		= US
ST	    = California
L		= San Francisco
O	    = Lantern
OU	    = Lantern
CN		= Lantern MITM Root CA
emailAddress			= jason@thesparktree.com
